<section>
<h4>Drawing selector</h4>
<mat-form-field appearance="fill">
  <mat-label>Drawing category</mat-label>
  <mat-select [(value)]="valSelectCategory">
    <mat-option *ngFor="let category of categories" [value]="category.value">
      {{category.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="onDrawButtonClick()">Draw!</button>
</section>

<canvas width="563" height="1000" id="canvasDrawing">
  An alternative text describing what your canvas displays.
</canvas>
